services:
  postgres:
    image: postgres:15
    container_name: my-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka-data:/var/lib/kafka/data

  producer:
    build:
      context: .
    container_name: ml-producer
    command: python src/producer.py
    depends_on:
      - kafka
    environment:
      KAFKA_BROKER: kafka:29092
    volumes:
      - ./src:/app/src
      - ./data:/app/data
    restart: unless-stopped

  consumer:
    build:
      context: .
    container_name: ml-consumer
    command: python src/consumer.py
    depends_on:
      kafka:
        condition: service_started
      redis:
        condition: service_started
      prefect-server:
        condition: service_healthy
    environment:
      KAFKA_BROKER: kafka:29092
    env_file:
    - .env
    volumes:
      - ./src:/app/src
      - ./models:/app/models
    restart: unless-stopped

  drift_detection:
    build:
      context: .
    container_name: drift-detection
    command: python src/drift_detection.py
    depends_on:
      - postgres
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ./data:/app/data

  app:
    build:
      context: .
    container_name: ml-app
    depends_on:
      - postgres
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ./data:/app/data
      - ./models:/app/models
  
  redis:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 60 1 --loglevel warning --requirepass redis
    volumes:
      - redis-data:/data
  
  # Prefect Server
  prefect-server:
    image: prefecthq/prefect:3-python3.11
    command: prefect server start
    ports:
      - "4200:4200"
    environment:
      - PREFECT_SERVER_API_HOST=0.0.0.0
      - PREFECT_API_URL=http://127.0.0.1:4200/api
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://127.0.0.1:4200/api/health')"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  prefect-worker:
    build: 
      context: .
    restart: always 
    command: python src/pipeline.py 
    env_file:
      - .env
    environment:
    - PREFECT_API_URL=http://prefect-server:4200/api
    - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      postgres:
        condition: service_started
      mlflow:
        condition: service_started
      prefect-server:
        condition: service_healthy
    volumes:
      - ./src:/app/src
      - ./models:/app/models
      - ./data:/app/data

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.9.2
    container_name: mlflow
    ports:
      - "5000:5000"
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:///mlflow.db
      --default-artifact-root s3://${S3_BUCKET_NAME}/
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
  

volumes:
  postgres-data:
  kafka-data:
  redis-data: